CompileFlags:
  Add: ["-DUSE_LOCALE", "-DMACH_O_CARBON"]
---
If:
  PathMatch: src/tests/.*
CompileFlags:
  Add: ["-I.", "-I.."]
---
If:
  PathMatch: src/list-.*\.h
Diagnostics:
  Suppress: '*'
---
If:
  PathMatch: .*\.[ch]
  PathExclude: src/tests/.*
CompileFlags:
  Add: ["-std=c99"]
  Remove: ["-x"]